body {
    background: #E5E5E5;
}



.phone {
    color: #2E353D;
    font-weight: 700;
    font-size: 18px;
}

.hero_image {
    box-shadow: 0px 10px 25px rgba(103, 103, 103, 0.2);
    border-radius: 10px;
}

.hero-navbar {
    margin-bottom: 96px;
}